<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:util="http://www.springframework.org/schema/util" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- Realm实现 -->
	<bean id="clientUserRealm" class="pers.husen.highdsa.service.shiro.client.realm.ClientUserRealm">
		<property name="cachingEnabled" value="false" />
		<property name="shiroService" ref="shiroService" />
	</bean>

	<!-- 会话ID生成器 -->
	<bean id="sessionIdGenerator" class="org.apache.shiro.session.mgt.eis.JavaUuidSessionIdGenerator" />

	<!-- 会话Cookie模板 -->
	<!-- <bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
		<constructor-arg value="${client.session.id}" />
		<property name="httpOnly" value="true" />
		<property name="maxAge" value="-1" />
		<property name="domain" value="${client.cookie.domain}" />
		<property name="path" value="${client.cookie.path}" />
	</bean> -->

	<bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
		<constructor-arg value="${client.rememberMe.id}" />
		<property name="httpOnly" value="true" />
		<property name="maxAge" value="2592000" /><!-- 30天 -->
		<!-- <property name="domain" value="${client.cookie.domain}" />
		<property name="path" value="${client.cookie.path}" /> -->
	</bean>

	<!-- rememberMe管理器 -->
	<bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
		<!-- rememberMe cookie加密的密钥 建议每个项目都不一样 默认AES算法 密钥长度（128 256 512 位） -->
		<property name="cipherKey" value="#{T(org.apache.shiro.codec.Base64).decode('4AvVhmFLUs0KTA3Kprsdag==')}" />
		<property name="cookie" ref="rememberMeCookie" />
	</bean>

	<!-- 会话DAO -->
	<bean id="sessionDAO" class="pers.husen.highdsa.service.shiro.client.session.ClientSessionDao">
		<property name="sessionIdGenerator" ref="sessionIdGenerator" />
		<property name="shiroService" ref="shiroService" />
	</bean>

	<!-- 会话管理器 -->
	<bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
		<property name="deleteInvalidSessions" value="false" />
		<!-- 其他应用无须进行会话过期调度,所以sessionValidationSchedulerEnabled=false -->
		<property name="sessionValidationSchedulerEnabled" value="false" />
		<property name="sessionDAO" ref="sessionDAO" />
		<property name="sessionIdCookieEnabled" value="true" />
		<!-- <property name="sessionIdCookie" ref="sessionIdCookie" /> -->
	</bean>

	<!-- 安全管理器 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="clientUserRealm" />
		<property name="sessionManager" ref="sessionManager" />
		<property name="rememberMeManager" ref="rememberMeManager" />
	</bean>

	<!-- 相当于调用SecurityUtils.setSecurityManager(securityManager) -->
	<bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="staticMethod" value="org.apache.shiro.SecurityUtils.setSecurityManager" />
		<property name="arguments" ref="securityManager" />
	</bean>

	<!-- 应用的身份认证使用ClientAuthenticationFilter, 即如果没有身份认证, 则会重定向到登录url完成身份认证，身份认证成功后再重定向回来 -->
	<bean id="clientAuthenticationFilter" class="pers.husen.highdsa.service.shiro.client.filter.ClientAuthenticationFilter" />

	<!-- ShiroFilter 使用我们自定义的ClientShiroFilterFactoryBean，然后loginUrl（登录地址）、 successUrl（登录成功后默认的重定向地址）、unauthorizedUrl（未授权重定向到的地址） -->
	<bean id="shiroFilter" class="pers.husen.highdsa.service.shiro.client.filter.ClientShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="${client.login.url}" />
		<property name="successUrl" value="${client.success.url}" />
		<property name="unauthorizedUrl" value="${client.unauthorized.url}" />
		<property name="filters">
			<util:map>
				<entry key="authc" value-ref="clientAuthenticationFilter" />
			</util:map>
		</property>
		<property name="filtersStr" value="${client.filters}" />
		<property name="filterChainDefinitionsStr" value="${client.filter.chain.definitions}" />
	</bean>

	<!-- Shiro生命周期处理器 -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

</beans>