<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd    
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd    
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd    
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	default-autowire="byName" default-lazy-init="false">

	<!-- 读入配置属性文件 -->
	<context:property-placeholder location="classpath:activemq.properties" />

	<!-- 注释配置 -->
	<context:annotation-config />

	<!-- 扫描包起始位置 -->
	<context:component-scan base-package="pers.husen.highdsa.service.activemq" />

	<!-- <import resource="spring-activemq.xml" /> <import resource="dubbo-mq-producer.xml" /> -->
</beans>