# build files
build
target

# jrebel
rebel.xml

# project files
.settings
.project
.classpath

# log file
logs

# test file
result.conf

#backup file
pom.xml.versionsBackup

#secret file
highdsa-service-message/**/message.properties

## self
##.gitignore