<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd    
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd    
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd    
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- classpath:client/shiro-client.properties是用于覆盖客户端默认配置,各应用应 该提供该配置文件,然后提供各应用个性配置 -->
	<context:property-placeholder location="classpath:client/shiro-client-default.properties,classpath:client/shiro-client.properties" />

	<context:component-scan base-package="pers.husen.highdsa" />

	<import resource="classpath:spring/shiro-consumer.xml" />
	<import resource="classpath:spring/spring-client-shiro.xml" />
</beans>