<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.husen.highdsa.service.mybatis.dao.system.SysSessionsMapper">
	<!-- 自定义二级缓存 -->
	<cache eviction="LRU" type="pers.husen.highdsa.service.mybatis.cache.RedisCache" />

	<resultMap id="BaseResultMap" type="pers.husen.highdsa.common.entity.po.system.SysSessions">
		<constructor>
			<idArg column="session_id" javaType="java.lang.String" jdbcType="VARCHAR" />
			<arg column="session_value" javaType="java.lang.String" jdbcType="VARCHAR" />
			<arg column="session_create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
			<arg column="session_last_modify_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
			<arg column="session_valid" javaType="java.lang.Boolean" jdbcType="BIT" />
		</constructor>
	</resultMap>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from sys_sessions
		where session_id = #{sessionId,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="pers.husen.highdsa.common.entity.po.system.SysSessions">
		insert into sys_sessions (session_id, session_value, session_create_time,
		session_last_modify_time, session_valid)
		values (#{sessionId,jdbcType=VARCHAR},
		#{sessionValue,jdbcType=VARCHAR}, #{sessionCreateTime,jdbcType=TIMESTAMP},
		#{sessionLastModifyTime,jdbcType=TIMESTAMP}, #{sessionValid,jdbcType=BIT})
	</insert>
	<update id="updateByPrimaryKey" parameterType="pers.husen.highdsa.common.entity.po.system.SysSessions">
		update sys_sessions
		set session_value = #{sessionValue,jdbcType=VARCHAR},
		session_last_modify_time = #{sessionLastModifyTime,jdbcType=TIMESTAMP},
		session_valid = #{sessionValid,jdbcType=BIT}
		where session_id = #{sessionId,jdbcType=VARCHAR}
	</update>
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select session_id, session_value, session_create_time, session_last_modify_time,
		session_valid
		from sys_sessions
		where
		session_id = #{sessionId,jdbcType=VARCHAR}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select session_id, session_value, session_create_time, session_last_modify_time,
		session_valid
		from sys_sessions
	</select>
	<select id="selectListByPage" parameterType="int" resultMap="BaseResultMap">
		select session_id, session_value, session_create_time, session_last_modify_time,
		session_valid
		from sys_sessions
		limit #{arg0},#{arg1}
	</select>
</mapper>